<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="alertmonitorsystem.dao.ITest_caseDao">

	<insert id="add" parameterType="java.util.HashMap">
		insert into Test_case
		<trim prefix="(" suffix=")" suffixOverrides=",">
				<if test="id != null">
					id,
				</if>
				<if test="department_name != null">
					department_name,
				</if>
				<if test="test_case_name != null">
					test_case_name,
				</if>
				<if test="test_result != null">
					test_result,
				</if>
				<if test="last_test_result != null">
					last_test_result,
				</if>
				<if test="last_result_time != null">
					last_result_time,
				</if>
				<if test="assert_info != null">
					assert_info,
				</if>
				<if test="white_list_flag != null">
					white_list_flag,
				</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
				<if test="id != null">
					#{id},
				</if>
				<if test="department_name != null">
					#{department_name},
				</if>
				<if test="test_case_name != null">
					#{test_case_name},
				</if>
				<if test="test_result != null">
					#{test_result},
				</if>
				<if test="last_test_result != null">
					#{last_test_result},
				</if>
				<if test="last_result_time != null">
					#{last_result_time},
				</if>
				<if test="assert_info != null">
					#{assert_info},
				</if>
				<if test="white_list_flag != null">
					#{white_list_flag},
				</if>
		</trim>
	</insert>

	<delete id="delete" parameterType="java.util.HashMap">
		delete from Test_case
		<where>
				<if test="id != null">
					and id=#{id}
				</if>
		</where>
	</delete>

	<update id="update" parameterType="java.util.HashMap">
		update Test_case
		<trim prefix="set" suffixOverrides=",">
				<if test="id != null">
					id=#{id},
				</if>
				<if test="department_name != null">
					department_name=#{department_name},
				</if>
				<if test="test_case_name != null">
					test_case_name=#{test_case_name},
				</if>
				<if test="test_result != null">
					test_result=#{test_result},
				</if>
				<if test="last_test_result != null">
					last_test_result=#{last_test_result},
				</if>
				<if test="last_result_time != null">
					last_result_time=#{last_result_time},
				</if>
				<if test="assert_info != null">
					assert_info=#{assert_info},
				</if>
				<if test="white_list_flag != null">
					white_list_flag=#{white_list_flag},
				</if>
		</trim>
		<where>
				<if test="id != null">
					and id=#{id}
				</if>
		</where>
	</update>

	<select id="select" parameterType="java.util.HashMap"
		resultType="java.util.LinkedHashMap">
			select 
				id,
				department_name,
				test_case_name,
				test_result,
				last_test_result,
				last_result_time,
				assert_info,
				white_list_flag
			from Test_case
			
			<where>
	
					<if test="id != null">
						and id=#{id}
					</if>
					<if test="department_name != null">
						and department_name=#{department_name}
					</if>
					<if test="test_case_name != null">
						and test_case_name=#{test_case_name}
					</if>
					<if test="test_result != null">
						and test_result=#{test_result}
					</if>
					<if test="last_test_result != null">
						and last_test_result=#{last_test_result}
					</if>
					<if test="last_result_time != null">
						and last_result_time=#{last_result_time}
					</if>
					<if test="assert_info != null">
						and assert_info=#{assert_info}
					</if>
					<if test="white_list_flag != null">
						and white_list_flag=#{white_list_flag}
					</if>
	
			</where>
			<if test="orderStr != '' and orderStr != null">
				order by ${orderStr}
			</if>
			<if test="start != null and pageSize != null">
				limit #{start},#{pageSize}
			</if>
		
		
	</select>
	
	<select id="likeSelect" parameterType="java.util.HashMap"
		resultType="java.util.LinkedHashMap">
			select
			
				id,
				department_name,
				test_case_name,
				test_result,
				last_test_result,
				last_result_time,
				assert_info,
				white_list_flag
			from Test_case
			
			<where>
	
						<if test="id != null and id != '' ">
						and id <![CDATA[=]]> #{id}
						</if>
						<if test="department_name != null and department_name != '' ">
						and department_name <![CDATA[=]]> #{department_name}
						</if>
						<if test="test_case_name != null and test_case_name != '' ">
						and test_case_name <![CDATA[=]]> #{test_case_name}
						</if>
						<if test="last_result_time != null and last_result_time != '' ">
						and last_result_time <![CDATA[=]]> #{last_result_time}
						</if>
						<if test="white_list_flag != null and white_list_flag != '' ">
						and white_list_flag <![CDATA[=]]> #{white_list_flag}
						</if>
	
			</where>
			
			<if test="orderStr != '' and orderStr != null">
				order by ${orderStr}
			</if>
			<if test="start != null and pageSize != null">
				limit #{start},#{pageSize}
			</if>
		
		
	</select>
	
	<select id="likeSelectCount" parameterType="java.util.HashMap"
		resultType="java.lang.Long">

		select 
			count(1)
		from Test_case
		
		<where>

				<if test="id != null and id != '' ">
				and id <![CDATA[=]]> #{id}
				</if>
				<if test="department_name != null and department_name != '' ">
				and department_name <![CDATA[=]]> #{department_name}
				</if>
				<if test="test_case_name != null and test_case_name != '' ">
				and test_case_name <![CDATA[=]]> #{test_case_name}
				</if>
				<if test="last_result_time != null and last_result_time != '' ">
				and last_result_time <![CDATA[=]]> #{last_result_time}
				</if>
				<if test="white_list_flag != null and white_list_flag != '' ">
				and white_list_flag <![CDATA[=]]> #{white_list_flag}
				</if>
			
		</where>
	</select>
	
</mapper>