<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="alertmonitorsystem.dao.IWhite_listDao">

	<insert id="add" parameterType="java.util.HashMap">
		insert into White_list
		<trim prefix="(" suffix=")" suffixOverrides=",">
				<if test="id != null">
					id,
				</if>
				<if test="test_case_name != null">
					test_case_name,
				</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
				<if test="id != null">
					#{id},
				</if>
				<if test="test_case_name != null">
					#{test_case_name},
				</if>
		</trim>
	</insert>

	<delete id="delete" parameterType="java.util.HashMap">
		delete from White_list
		<where>
				<if test="id != null">
					and id=#{id}
				</if>
		</where>
	</delete>

	<update id="update" parameterType="java.util.HashMap">
		update White_list
		<trim prefix="set" suffixOverrides=",">
				<if test="id != null">
					id=#{id},
				</if>
				<if test="test_case_name != null">
					test_case_name=#{test_case_name},
				</if>
		</trim>
		<where>
				<if test="id != null">
					and id=#{id}
				</if>
		</where>
	</update>

	<select id="select" parameterType="java.util.HashMap"
		resultType="java.util.LinkedHashMap">
			select 
				id,
				test_case_name
			from White_list
			
			<where>
	
					<if test="id != null">
						and id=#{id}
					</if>
					<if test="test_case_name != null">
						and test_case_name=#{test_case_name}
					</if>
	
			</where>
			<if test="orderStr != '' and orderStr != null">
				order by ${orderStr}
			</if>
			<if test="start != null and pageSize != null">
				limit #{start},#{pageSize}
			</if>
		
		
	</select>
	
	<select id="likeSelect" parameterType="java.util.HashMap"
		resultType="java.util.LinkedHashMap">
			select
			
				id,
				test_case_name
			from White_list
			
			<where>
	
						<if test="id != null and id != '' ">
						and id <![CDATA[=]]> #{id}
						</if>
	
			</where>
			
			<if test="orderStr != '' and orderStr != null">
				order by ${orderStr}
			</if>
			<if test="start != null and pageSize != null">
				limit #{start},#{pageSize}
			</if>
		
		
	</select>
	
	<select id="likeSelectCount" parameterType="java.util.HashMap"
		resultType="java.lang.Long">

		select 
			count(1)
		from White_list
		
		<where>

				<if test="id != null and id != '' ">
				and id <![CDATA[=]]> #{id}
				</if>
			
		</where>
	</select>
	
</mapper>